 header .brand-logo{
    font-family: 'Pacifico', cursive;
}


.card-title{
    font-weight: bold !important;
   font-size: 30px !important;
    font-family: 'Pacifico', cursive;
    color:red;
   
}
.img{
    width: 200px;
    width: 300px;
    margin: 16px;
}
section{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}
footer{
    padding: 10px;
    font-family: 'Pacifico', cursive;
    padding: 10px;
}

.img-div{
    background-position: center;
    background-size: cover;
    height: 270px;
 
}
#rose-div  .card-image{
    background-image: url(images/rose.png);
  
}
#butter-div .card-image{
    background-image: url(images/yellow.png);
}
#dehlia-div .card-image{
    background-image: url(images/red.png);
}
#multi-div .card-image{
    background-image: url(images/multi.png);
}
#orange-div .card-image{
    background-image: url(images/orange.png);
}