 header .brand-logo{
    font-family: 'Pacifico', cursive;
}
.rose{
    height: 280px;
    width: 320px !important;
}
.card{
    height: 25%;
    width: 24%;
    margin: 25px !important;
      transition: 1s;
    transform: scale(1.1,1.1);
    z-index: 1;  

   
}
#title{
    font-weight:bold ;
   font-size: 30px;
    font-family: 'Pacifico', cursive;
    color:red;
   
}
section{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}
footer{
    padding: 10px;
    font-family: 'Pacifico', cursive;
    padding: 10px;
}